$mainColor: #222;
$secondaryColor: #009a82;
$footerColor: #ccc;

$myFontSize1: 14px;
$myFontSize2: 18px;
$myFontSize3: 25px;

$minContainerWidth: 960px;
$maxContainerWidth: 1200px;
$logoWidth: 150px;
$footerHeight: 80px;

$logoFloat: left;
$contactFloat: right;

html {
	height: 100%;
}

body {
	height: 100%;
	font-size: $myFontSize1;
	color: $mainColor;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

/* Общие классы */

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

/* Основные классы */

.mainWrapper {
	display: block;
	position: relative;
	min-height: 100%;
	height: auto !important;

	&:after {
		content: "";
		display: block;
		height: $footerHeight;
	}
}

.container {
	display: block;
	position: relative;
	margin: 0 auto;
	min-width: $minContainerWidth;
	max-width: $maxContainerWidth;
}

	.logo {
		display: inline-block;
		position: relative;
		vertical-align: middle;
		float: $logoFloat;
		width: $logoWidth;
		overflow: hidden;

		&__img {
			width: 100%;
		}
	}

	.contacts {
		display: inline-block;
		position: relative;
		vertical-align: middle;
		float: $contactFloat;
		font-size: $myFontSize2;
	}

		.contacts__list {
			display: block;
			padding: 0;
			margin: 0;

			&-item {
				display: block;
				list-style: none;
				margin-bottom: 10px;
			}

				&-item:last-of-type {
					margin-bottom: 0;
				}

			&-link {
				display: block;
				text-decoration: none;
				color: $mainColor;
			}
		}

/* Main Header */
.mainHeader {
	display: block;
	position: relative;
	padding: 10px 0;
	background: $secondaryColor;
}

/* Main Footer */

.mainFooter {
	display: block;
	position: relative;
	padding-top: 15px;
	margin-top: -$footerHeight;
	height: $footerHeight;
	background: $footerColor;
}

