header.mainHeader
	wrapper.container.clearfix
		.logo
			img(src="images/logo.jpg", class="logo__img", alt="Лого")
		.contacts
			ul.contacts__list
				li.contacts__list-item
					a.contacts__list-link +7(999)999-99-99
				li.contacts__list-item
					a.contacts__list-link mail@example.com
		